@import url(https://maendisease.github.io/BetterDiscordStuff/css/boostedFavorites.css);
:root {
    --favorites-name: '*';
    --favorites-guild-icon: url(https://github.com/idgafmood/mood_presets/releases/download/%2B/sakuya.gif);
    --favorites-banner: url(https://github.com/idgafmood/mood_presets/releases/download/%2B/Queue.jpg);
    
    --category-1: ''; --c1: url(https://github.com/idgafmood/mood_presets/releases/download/%2B/sakuya.gif);
    --category-2: ''; --c2: url(https://github.com/idgafmood/mood_presets/releases/download/%2B/Queue.jpg);
    --category-3: ''; --c3: url(https://github.com/idgafmood/mood_presets/releases/download/%2B/image0.jpg);
}
/** fav.theme.css */
