@import url(https://maendisease.github.io/BetterDiscordStuff/css/boostedFavorites.css);

:root {
    --favorites-name: 'My Favorites';
    --favorites-guild-icon: url(https://github.com/idgafmood/mood_presets/releases/download/%2B/sakuya.gif);
    --favorites-banner: url(https://i.imgur.com/jtcxsU6.png);

    /* category icons */
    /* Duplicate each line for additional categories (Up to 10), then replace both numbers. */
    --category-1: ''; --c1: url(https://github.com/idgafmood/mood_presets/releases/download/%2B/sakuya.gif);
    --category-2: ''; --c2: url(https://i.imgur.com/F3zPKAX.png);
}
/** fav.theme.css */
